**/target/
**/release/
**/debug/
**/backup/
**/bk/
**/node_modules/
*.pkl
*.csv
*.zip
*.tar
*.gz
*.xz
*.err
*.out
test.txt
out.txt
err.txt
error.txt
*debug*.txt
*tmp*.txt
*_bk*.cpp
*_bk*.hpp
*_bk*.sh
*_backup*.cpp
*_backup*.sh
